.navbar{
    display: flex;
    height: 17vh;
    /* width: 100vw; */
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}


.ICMRLogo img{
    height: 13vh;
    aspect-ratio: 3.2 / 1.32;
}

.PUIcon img{
    height: 10vh;
    aspect-ratio: 3 / 0.58;
}

.secondLogo img{
    height: 13vh;
    /* width: 13vh; */
}



.nav-flex{
    display: flex;
    flex-direction: column;
    /* gap: 1vh; */
    height: 100%;
}


.nav-flex div{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.nav-flex div:nth-child(1){
    height: 10vh;
}


.nav-flex div:nth-child(2){
    height: 7vh;
}


.nav-flex img{
    height: 7vh;
}

.nav-flex div p{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    font-weight: 700;
}











.buttons-grid{
    height: 11vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0 5%;
    background-color: white;
}


.nav-btn button{
    border: none;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1vw;
    position: sticky;
}


.buttons-grid button p{
    font-size: 1.3vw;
    margin: 0;
    padding: 0.2vw;
}


.buttons-grid button a{
    text-decoration: none;
    color: black;
}

.nav-btn button::after {
    content: '';
    display: block;
    width: 0;
    height: 0.1vw;
    background: #3177FF;
    transition: width .3s;
}
.nav-btn button:hover::after {
    width: 100%;
}

.logout{
    background-color: #152266;
    color: white;
    border-radius: 1.3vw;
    font-weight: 700;
}

.container{
    border: 1 px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: auto;
    width: 94vw;
    margin: 2%;
    /* position: fixed; */
}

.container a{
    text-decoration: none;
    color: black;
}

.container a :hover{
    color:#152266;
}