.navbar{
    display: flex;
    height: 17vh;
    /* width: 100vw; */
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 3%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.ICMRIcon img{
    height: 14vh; 
    /* height: 80%; */
    aspect-ratio: 3 / 2;
}
.ICMRLogo img{
    height: 12vh;
    aspect-ratio: 3.2 / 1.32;
}
.PUIcon img{
    height: 9vh;
    aspect-ratio: 3 / 0.58;
}




.nav-flex{
    display: flex;
    flex-direction: column;
    /* gap: 1vh; */
    height: 100%;
}


.nav-flex div{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.nav-flex div:nth-child(1){
    height: 10vh;
}


.nav-flex div:nth-child(2){
    height: 7vh;
}


.nav-flex img{
    height: 7vh;
}

.nav-flex div p{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    font-weight: 700;
}











.buttons-grid{
    height: 11vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
}

.buttons-grid button{
    height: 70%;
    font-weight: 700;
    padding: 0 2.4vw;
    border-radius: 99px;
    background-color: #D4D4D4;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
    
}


.buttons-grid button p{
    font-size: 1vw;
    margin: 0;
    padding: 0;
}


.buttons-grid button a{
    text-decoration: none;
    color: black;
}


.buttons-grid button:hover{
    background-color: #3177FF;
    color: white;
}