.sidePanel {
    box-shadow: rgba(0, 0, 0, 0.26) 0vw 0.03vw 1.05vw;
    margin: 1.40vw 1.40vw 1.4vw 0vw;
    padding: 0vw 1vw 1.40vw 1vw;
    border-radius: 0.53vw;
    font-weight: 600;
    position: sticky;
    top: 10%;
    height: 75vh;
    width: 24vw;
    overflow: hidden;
    background-color: #F2F7FF;

}

.sidePanel p {
    line-height: 1.5vw;
}

.innerdiv {
    padding: 2vw 0.01vw;
}



.innerdiv p {
    padding: 0.2vw 0.8vw 0.1vw 1.5vw;
    font-size: 0.9vw;
    font-weight: 500;
    border-radius: 0.35vw;
}

.innerdiv a {
    text-decoration: none;
    color: black;
}

.siteInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.03vw 1.05vw;
    width: -webkit-fill-available;
    margin: 1.40vw 1.40vw 0vw 0vw;
    /* padding-bottom: 2vw; */
    border-radius: 0.7vw;
    height: 78vh;
    overflow: scroll;
    /* overflow: hidden; */
    scrollbar-width: none;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    
    
}

.formhdr {
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0vw 0.03vw 1.05vw;
    width: -webkit-fill-available;
    padding-left: 1.2vw;
    background-color: #152266;
    color: white;
}

.formhdr h3{
    font-weight: 750;
}

.formcontent {
    padding: 0vw 1.20vw 1.20vw 1.20vw;
    width: -webkit-fill-available;
    /* height: 100vh; */
    background-color: #F2F7FF;
    scrollbar-width: none;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.formcontent::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
}


.cont_extra{
    height: 100%;
}

section {
    display: flex;
}

.homePage section {
    display: block;
}

.nextbtn {
    background-color: #152266;
    border: none;
    border-radius: .2vw;
    padding: 0.5vw 1.40vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.12vw;
    margin-left: auto;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prevbtn {
    border: none;
    background-color: #F2F7FF;
    font-weight: 700
}

.prevbtn a {
    color: #757575;
}

.prevbtn a,
.nextbtn a {
    text-decoration: none;
}

.nextbtn:hover {
    background-color:#3f37c9
}

.nextbtn a {
    color: white;
    font-weight: 600;
}

.buttons {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.datetime {
    font-size: 1.2vw;
    margin: 1em 0em;
    font-weight: bold;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
    width: 15vw; /* same as block_selector width */
}

.dropdown-wrapper::after {
    content: '▼'; /* Unicode for the down arrow symbol */
    font-size: 0.8vw;
    position: absolute;
    top: 45%;
    right: 1vw;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 2;
}

.block_selector{
    border: 0.05vw solid #CCCCCC;
    border-radius: 1.2vw;
    padding: 0vw 0.7vw;
    font-size: 0.9vw;
    height: 2.3vw;
    background-color: #F2F7FF;
    width: 15vw;
}

.block {
    display: flex;
    align-items: baseline;
    margin: 0.5vw 0vw 0vw 0vw;
    /* width: 60vw; */
    flex-wrap: wrap;
}

.h3block {
    margin: 0.9vw 0.9vw 0.9vw 0vw;
    font-size: 1.1vw;
}

.h3blockleftmg {
    margin: 0.9vw 0.9vw 0.9vw 0.9vw;
}

.blockinput {
    border: 0.05vw solid #CCCCCC;
    border-radius: 0.35vw;
    padding: 0vw 0.7vw;
    font-size: 0.9vw;
    height: 2.3vw;
    background-color: #F2F7FF;
    width: 15vw;
}

.blockinput:focus {
    outline: 0.05vw solid #3177FF;
}






/* ----------------   CSS FOR TABLE     --------------- */
table,
th,
td {
    border: 1px solid black;
}

table {
    width: 100%;
}

.tablediv {
    margin: 1.40vw 1.40vw 1.4vw 0vw;
}

.tablebtn {
    display: flex;
    justify-content: end;
}

.tablebtn button {
    margin: 0.5vw;

}

.tableinput {
    border: none;
}

.tableinput:focus {
    outline: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.03vw 1.05vw;
    width: auto;
    margin: 1.40vw 1.40vw 1.4vw 0vw;
    padding: 0vw 1.40vw 1.40vw 1.4vw;
    border-radius: 0.7vw;
    background-color: white;
    z-index: 10;
}

.popupbtn {
    display: flex;
    margin-top: 1.40vw;
}

.cancelbtn {
    background-color: #EAEAEA;
    border: none;
    border-radius: 1.40vw;
    padding: 0.5vw 1.40vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 1.12vw;
    margin-right: auto;
    cursor: pointer;
}


.radiobtn {
    display: flex;
    align-items: baseline;
    margin-bottom: 1vw;
}

.dateTimeBox{
    display: flex;
    flex-direction: column;

}

.dateTimeBox div{
    display: flex;
    align-items: center
   
}

.datetime{
    font-size: 1.1vw;
}

.datetime_current{
    font-weight: 400;
    font-size: 1vw;
    color: #757575;
}

.radio_opts{
    color: #757575;
    display: "flex";
    align-items: "center";
}

.radio_labels{
    font-weight: 400;
    font-size: 1vw;
    margin-left: 0.5vw;
    line-height: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.1vw;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* text-align: center; */
}

th {
    background-color: #f2f2f2;
}



.subtext{
    font-size: 0.9vw;
    margin: 0vw 0vw 0.5vw 0vw;

}

.lable{
    font-size: 1.12vw !important;
    font-weight: 500 !important;
}

.others{
    margin-left: 1vw;
    margin-top: 0vw;
    padding: 0vw 0.7vw;
    font-size: 0.9vw;
    height: 2.3vw;
    outline: none;
    /* border: none; */
    /* border-bottom : 0.1vh solid black; */
    background-color: #F2F7FF;
}






/* ------------------ STYLING FOR POP-UP MENU -------------------- */




#blur-background {
    height: 100vh;
    width: 100vw;
    z-index: 5;
    backdrop-filter: blur(1.5px);
    position: fixed;
    top: 0;
    left: 0;
  }




  .scale-in-top {
	-webkit-animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  
  