/* Form AA */


.sidePanel {
    box-shadow: rgba(0, 0, 0, 0.26) 0vw 0.03vw 1.05vw;
    margin: 1.20vw 1.20vw 1.2vw 0vw;
    padding: 1.20vw 0vw 1.20vw 1.20vw;
    border-radius: 0.53vw;
    font-weight: 600;
    position: static;
    width: 33vw;
}

.innerdiv {
    padding: 0vw 1.05vw;
}

.siteInfoText {
    color: #3177FF;
}

.siteInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.03vw 1.05vw;
    width: -webkit-fill-available;
    margin: 1.40vw 1.40vw 1.4vw 0vw;
    padding: 0vw 1.40vw 1.40vw 1.4vw;
    border-radius: 0.7vw;
}

section {
    display: flex;
}

.checkbox {
    color: red;
}

.dataCol {
    display: flex;
}

.dataCol input {
    border: 0.05vw solid #CCCCCC;
    border-radius: 0.35vw;
    padding: 0vw 0.7vw;
    margin: 0.7vw 0vw 0.7vw 0.7vw;
    font-size: 0.9vw;
}

.dataCol input:focus {
    outline: 0.05vw solid #3177FF;
}

.nextbtn {
    background-color: #3177FF;
    border: none;
    border-radius: 1.40vw;
    padding: 0.5vw 1.40vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 1.12vw;
    margin-left: auto;
    
}

/* for align checkbox */
.site {
    display: flex;
    align-items: baseline
}

.datetime{
    font-size: 1.2vw;
    margin: 1em 0em;
    font-weight: bold;
}



/* Form AB */