.sidePanel {
    box-shadow: rgba(0, 0, 0, 0.26) 0vw 0.03vw 1.05vw;
    margin: 1.40vw 1.40vw 1.4vw 0vw;
    padding: 0vw 1.40vw 1.40vw 1.4vw;
    border-radius: 0.53vw;
    font-weight: 600;
    position: sticky;
    top: 10%;
    height: 76vh;
    width: 24vw;
    overflow: scroll;
}

.sidePanel p {
    font-size: 1vw;
}

.innerdiv {
    padding: 0vw 1.05vw;
}

.innerdiv p {
    font-size: 0.9vw;
}

.innerdiv a {
    text-decoration: none;
    color: black;
}

.siteInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.03vw 1.05vw;
    width: -webkit-fill-available;
    margin: 1.40vw 1.40vw 1.4vw 0vw;
    padding-bottom: 1.20vw;
    border-radius: 0.7vw;
    height: 76vh;
    overflow: scroll;
}

.formhdr {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0vw 0.03vw 1.05vw;
    width: -webkit-fill-available;
    padding-left: 1.2vw;
}

.formcontent {
    padding: 0vw 1.20vw 1.20vw 1.20vw;
}

section {
    display: flex;
}

.homePage section {
    display: block;
}

.nextbtn {
    background-color: #3177FF;
    border: none;
    border-radius: 1.40vw;
    padding: 0.5vw 1.40vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.12vw;
    margin-left: auto;
    color: white;
}

.prevbtn {
    border: none;
    background-color: white;
    font-weight: 700
}

.prevbtn a {
    color: #757575;
}

.prevbtn a,
.nextbtn a {
    text-decoration: none;
}

.nextbtn a {
    color: white;
    font-weight: 600;
}

.buttons {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.datetime {
    font-size: 1.2vw;
    margin: 1em 0em;
    font-weight: bold;
}

.block {
    display: inline-flex;
    align-items: baseline;
    margin: 0.5vw 0vw 0vw 0vw;
    width: 60vw;
    flex-wrap: wrap;
}

.h3block {
    margin: 0.9vw 0.9vw 0.9vw 0vw;
}

.h3blockleftmg {
    margin: 0.9vw 0.9vw 0.9vw 0.9vw;
}

.blockinput {
    border: 0.05vw solid #CCCCCC;
    border-radius: 0.35vw;
    padding: 0vw 0.7vw;
    font-size: 0.9vw;
    height: 2.3vw;
}

.blockinput:focus {
    outline: 0.05vw solid #3177FF;
}






/* ----------------   CSS FOR TABLE     --------------- */
table,
th,
td {
    border: 1px solid black;
}

table {
    width: 100%;
}

.tablediv {
    margin: 1.40vw 1.40vw 1.4vw 0vw;
}

.tablebtn {
    display: flex;
    justify-content: end;
}

.tablebtn button {
    margin: 0.5vw;

}

.tableinput {
    border: none;
    margin: 0.5vw;
}

.tableinput:focus {
    outline: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0vw 0.03vw 1.05vw;
    width: auto;
    margin: 1.40vw 1.40vw 1.4vw 0vw;
    padding: 0vw 1.40vw 1.40vw 1.4vw;
    border-radius: 0.7vw;
    background-color: white;

}

.popupbtn {
    display: flex;
    margin-top: 1.40vw;
}

.cancelbtn {
    background-color: #EAEAEA;
    border: none;
    border-radius: 1.40vw;
    padding: 0.5vw 1.40vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 1.12vw;
    margin-right: auto;
}


.radiobtn {
    display: flex;
    align-items: baseline;
    margin-bottom: 1vw;
}