.contactus_second_page{
    display: flex;
    width: 94%;
    margin: 10% 3% 0% 3%;
    background-color: bisque;
}

.Questions{
    width: 50%;
} 

.Questions_con{
    width: 50%;
}

.widthhh p{
    width: 100px;
}