.sigin_main {
    width: 100%;
    display: flex;
    margin-top: 7%;
}

.sigin_con {
    width: 50%;
    height: auto;
    /* background-color: bisque; */
}

.sigin_content {
    /* background-color: antiquewhite; */
    margin: auto;
    /* align-items: center;
    justify-content: center; */
    width: 350px;
}

.signintitle h4 {
    letter-spacing: 1.8px;
    margin-top: 0;
    margin-bottom: 0;
}

.singup_way p {
    margin-top: 3%;
}

.singup_way p a {
    text-decoration: none;
}

.email_label {
    margin-top: 30px;
    margin-bottom: 3%;
}

.email_input {
    border-radius: 40px;
    width: 343px;
    height: 37px;
    margin-bottom: 15px;
}

.email input::placeholder {
    opacity: 0.2;
    color: blue;
}

.password_label {
    margin-bottom: 3%;
}

.password_input {
    border-radius: 40px;
    width: 343px;
    height: 37px;
    margin-bottom: 15px;
}

.forgetpass_con {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    margin-bottom: 7%;
}

.radio {
    display: flex;
    align-items: center;
}

.radio input {
    width: 15%;
    height: 25px;
}

.radio label {
    width: 100px;
}

.forgetpass {
    margin-left: auto;
}

.forgetpass p a {
    text-decoration: none;
}

.signin_button button {
    border-radius: 40px;
    width: 350px;
    height: 40px;
    background-color: #152266;
    color: white;
    border: none;
}

.footer_con {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}


/* ------------------------------------   NEW CSS FILE  ------------------------------------ */





.main-signin-div {
    display: flex;
    justify-content: space-between;
    margin: 5vw 15vw 1vw 0;
    /* background-color: #3177FF; */
}


#signin-form h2 {
    font-family: "Overpass", sans-serif;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
}


#signin-form {
    width: 40vw;
    display: flex;
    justify-content: center;
    /* background-color: antiquewhite; */
    font-family: "Nunito", sans-serif;
}


#signin-form form {
    /* background-color: rgb(56, 103, 144); */
    width: 25vw;
}




/* ------------------    WELCOME SECTION   ----------------- */



.welcome-back {
    margin-bottom: 3vh;
}

.welcome-back h2,
p {
    margin: 1vh 0;
}

.welcome-back p {
    font-size: 1vw;
    letter-spacing: 0.1vw;
    color: #444B59;
    font-weight: 500;
}

.welcome-back a {
    text-decoration: none;
    color: #152266;
    font-weight: 600;
    letter-spacing: 0.05vw;
}






/* ------------------------  LABEL , INPUTS AND BUTTONS  ------------------------ */





#signin-form label {
    font-size: 1.1vw;
    font-family: "Nunito", sans-serif;
    color: #444B59;
    font-weight: 600;
}



.form-signin-inputs input {
    font-size: 1vw;
    font-weight: 500;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 0.2vh solid #152266;
    border-radius: 99px;
    padding: 0 3vh;
    width: 100%;
    height: 5.6vh;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    outline: none;
}





/* ----------------------   Remember me and Forgot Password  -------------------- */






.remember-me {
    display: flex;
    justify-content: space-between;
}


.remember-me a {
    text-decoration: none;
    color: #152266;
}

.remember-me p,
a {
    font-size: 1vw;
    letter-spacing: 0.05vw;
}



.radio-btn {
    display: flex;
    justify-content: space-between;
}

.radio-btn input {
    width: 1vw;
    margin: 0 0.5vw 0 0;
}








/* ----------------------   SIGN IN BUTTON  -------------------- */




.signin-button button {
    border-radius: 99px;
    height: 5.6vh;
    width: 100%;
    background-color: #152266;
    color: white;
    margin: 2.5vh 0;
    font-size: 2vh;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1vh;
    cursor: pointer;
    border: 0.2vh solid #152266;

}





/* ---------------------- CSS FOR  CONTINUE WITH... SECTION  -------------------- */


.continue-with{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 0.2vh solid #d8d8d8;
}

.separator:not(:empty)::before {
    margin-right: .75em;
}

.separator:not(:empty)::after {
    margin-left: .75em;
}

.separator p{
    font-size: 1vw;
}





/* ----------------------   O AUTH ICONS   -------------------- */




.parent-o-auth{
    display: flex;
    justify-content: center;
}


.o-auth-icons{
    display: flex;
    width: 80%;
    justify-content: space-between;
}



.o-auth-icons div img{
    width: 5vw;
    aspect-ratio: 102.48/68.32;
}

#signin-rightside-img img{
    height: 30vw;
    /* aspect-ratio: 826/826; */
}




/* ######################################################################## */

@media (max-width: 1024px) {

    #signin-rightside-img{
        display: none;
    }

    .main-signin-div {
        display: block;
        margin: 0;
        margin-top: 8vh;
        /* background-color: #3177FF; */
    }

    #signin-form h2 {
        font-family: "Overpass", sans-serif;
        font-size: 2.2vw;
        letter-spacing: 0.1vw;
    }

    #signin-form {
        margin: auto;
        font-family: "Nunito", sans-serif;
    }

    #signin-form form {
        /* background-color: rgb(56, 103, 144); */
        width: 60vw;
    }

    
    .welcome-back {
        margin-bottom: 3vw;
    }

    .welcome-back h2,
    p {
        margin: 1.5vw 0;
    }

    .welcome-back p {
        font-size: 1.75vw;
        font-weight: 600;
    }

    .welcome-back a {
        font-size: 1.75vw;
        font-weight: 600;
    }

        

    #signin-form label {
        font-size: 1.5vw;
        font-weight: 700;
    }



    .form-signin-inputs input {
        font-size: 1.5vw;
        font-weight: 500;
        margin-top: 0.85vw;
        margin-bottom: 2vh;
        border: 0.15vw solid #152266;
        border-radius: 99px;
        padding: 0 2vw;
        width: 100%;
        height: 5vw;
    }

    

    .signin-button button {
        border-radius: 99px;
        height: 5vw;
        width: 100%;
        margin: 2.75vh 0;
        font-size: 1.75vw;
        font-weight: 600;
        letter-spacing: 0.1vh;
        cursor: pointer;
        border: 0.2vh solid #152266;
    }

        
    .remember-me p,
    a {
        font-size: 1.5vw;
        letter-spacing: 0.05vw;
    }

    .remember-me a {
        font-weight: 600;
    }

    .radio-btn input {
        width: 2vw;
        margin: 0 0.5vw 0 0;
    }
     
    .continue-with{
        margin-bottom: 2vw;
    }

    .separator p{
        font-size: 1.25vw;
    }


    .o-auth-icons div img{
        width: 7.5vw;
        aspect-ratio: 102.48/68.32;
    }



}