.fpage_navbar{
    padding: 0 2.5%;
    height: 13vh;
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}



/* CSS FOR FOR SIGN-IN AND SIGN-UP buttons PLACED BESIDES WELCOME  */

.signin-up{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
}


.signin-up-buttons{
    height: 6vh;
    border: none;
    background-color: #3177FF;
    border-radius: 99px ;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 0 2vw;
    font-size: 2vh;
}


.xyz{
    background-color: black;
    color: white;
}






/* END OF CSS FOR FOR SIGN-IN AND SIGN-UP buttons PLACED BESIDES WELCOME  */



/* START OF CSS FOR BUUTONS PRESENT IN DIV WITH CLASS NAME .morepage */




.morepage{
    /* margin-top: 1vh; */
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* background-color: aliceblue; */
}

.morepage button{
    background-color: #D4D4D4;
    color: #000000;
}

.morepage button:hover{
    background: #3177FF;
    color: white;
}




.morepage-buttons{
    height: 6vh;
    border: none;
    background-color: #3177FF;
    border-radius: 99px ;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
    padding: 0 2vw;
    font-size: 1vw;
}










.fpage_content{
    width: 100%;
    margin-top: 7%;
    text-align: center;
    line-height: 4vh;
}

.fpage_study{
    text-align: center;
    margin-top: 5%;
}

.fpage_footer{
    font-family: "Poppins", sans-serif;
    margin-top: 8vh;
    text-align: center;
}

.fpage_footer span{
    font-weight: 700;
}