.fpage_main{
    background-color: #F2F7FF;
    /* height: 100vh; */
    min-height: 100vh;
}


/* ############################################################################################## */

.fpage_navbar{
    padding: 0 2.5%;
    height: 8vh;
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}



/* CSS FOR FOR SIGN-IN AND SIGN-UP buttons PLACED BESIDES WELCOME  */

.signin-up{
    display: flex;
    gap: 1.5vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
}


.signin-up-buttons{
    height: 5vh;
    border: none;
    background-color: #152266;
    border-radius: 99px ;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 0 2.5vw;
    font-size: 2vh;
}

.signin-up-buttons:hover {
    background-color:#3f37c9
}

.xyz{
    background-color: black;
    color: white;
}






/* END OF CSS FOR FOR SIGN-IN AND SIGN-UP buttons PLACED BESIDES WELCOME  */



/* START OF CSS FOR BUUTONS PRESENT IN DIV WITH CLASS NAME .morepage */




.morepage{
    /* margin-top: 1vh; */
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.morepage button{
    color: black;
}

.morepage button:hover{
    /* color: #54b2ff; */
    border-bottom: solid 0.1vw black;
}




.morepage-buttons{
    height: 6vh;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 1.2vw;
    background-color: transparent;
}


/* CSS FOR MAIN SECTION */

.main_section{
    display: flex;
    padding: 0 2vw;
    padding-top: 2vw;
    justify-content: space-between;
    /* background-color: aqua; */
}


.fpage_content h2{
    margin-top: 9vw;
    margin-bottom: 0;
    font-size: 2.8vw;
    line-height: 3.5vw;
    text-align: center;
}

.fpage_content p{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
    margin-top: 0.75vw;
    margin-bottom: 0;
    color: #5F79AD;
}

.fpage_content{
    text-align: left;
    color: #152266;
    margin-left: 5%;
    /* background-color: aqua; */
}

.hero{
    margin-right: 5%;
}

.hero img{
    width: 28vw;
    /* background-color: pink; */
}

.fpage_study{
    text-align: center;   
    color: #544E4E;
}

.fpage_study h3{
    font-weight: 700;
    font-size: 1.35vw;
    margin-top: 1vw;
}

.fpage_footer{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #474242;

}

.fpage_footer span{
    font-weight: 700;
}



/* ########################################### */

@media (max-width: 1024px) {
    .fpage_main{
        height: 100%;
    }

    .fpage_navbar{
        padding: 0 2.5%;
    }
    
    
    /* CSS FOR FOR SIGN-IN AND SIGN-UP buttons */
    
    
    .signin-up-buttons{
        font-weight: 600;
        font-size: 2vh;
    }
    

    /* CSS FOR NAV(MORE) BUTTONS */
  
    .morepage{
        gap: 1vw;
    }


    .morepage-buttons{
        font-weight: 650;
        /* font-size: 1.5vw; */
        font-size: 1.5vw;
    }

    /* CSS FOR MAIN SECTION */

        
    .main_section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 2vw;
        padding-top: 2vw;
    }


    .fpage_content h2{
        margin-top: 1vw;
        margin-bottom: 0;
        font-weight: 850;
        font-size: 6vw;
        line-height: 5.5vw;
        text-align: left;
    }

    .fpage_content p{
        text-align: justify;
        font-size: 3vw;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 4vw;
        margin-top: 3vw;
        margin-bottom: 0;
        color: #5F79AD;
    }

    .fpage_content{
        padding: 5vw;
        text-align: left;
        color: #152266;
        margin-left: 0;
        /* background-color: aqua; */
    }

    .hero{
        margin-right: 0;
    }

    .hero img{
        width: 50vw;
        /* background-color: pink; */
    }

    .fpage_study{
        text-align: center;   
        color: #696464;
    }

    .fpage_study h3{
        font-weight: 600;
        font-size: 2.75vw;
        margin-top: 8vw;
    }

    .fpage_footer{
        font-family: "Poppins", sans-serif;
        text-align: center;
        color: #474242;
        /* margin-bottom: 5vw; */
    }

    .fpage_footer p{
        font-size: 1.75vw;
    }

    .fpage_footer span{
        font-weight: 700;
    }







}



@media (max-width: 800px) {

    .fpage_main{
        height: 100%;
    }
    
    /* CSS FOR FOR SIGN-IN AND SIGN-UP buttons */
    .signin-up-buttons{
        height: 4vh;
        font-weight: 450;
        font-size: 1.75vh;
    }
    

    /* CSS FOR NAV(MORE) BUTTONS */
  
    .morepage{
        gap: 1.5vw;
    }


    .morepage-buttons{
        font-weight: 550;
        /* font-size: 1.5vw; */
        font-size: 1.75vw;
    }

    
    
}